* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    padding: 100px;
    background: whitesmoke;
    display: table-cell;
}
button {
    margin: 20px;
}
.w-bth-indigo {
    background-color: blue;
    color: black;
}
