.space {
    width: 4px;
    height: auto;
    display: inline-block;
}
.B1 {
    margin-right: 4px;
}
button {
    background: blue;
    margin-right:4px;
    color:#fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding:0 2em;
    cursor: pointer;
    transition: 700ms ease all;
    outline: none;

}

